@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-family: 'Source Code Pro', monospace;
}

td, th {
  padding: 5px;
  text-align: right;
  border: 1px solid #ccc;
}

.done {
  background-color: #d2f9d2;
  color: black;
}

.not-done {
  color: black;
}

.no-problem {
  background-color: #ccc;
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 1em;
}

code, pre code {
  font-family: 'Source Code Pro', monospace;
  background-color: lightgray;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

body {
  width: 80%;
  min-width: 300px;
  margin: auto;
}

header {
  width: 80%;
  min-width: 300px;
  margin: auto;
}

h1 {
  text-align: center;
}