@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-family: 'Xanh Mono', monospace;}

td, th {
  padding: 5px;
  text-align: right;
  border: 1px solid #ccc;
}

.done {
  background-color: #d2f9d2;
  color: black;
}

.not-done {
  color: black;
}

.no-problem {
  background-color: #ccc;
}

